[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "implicitMeasures"]
	path = implicitMeasures
	url = https://github.com/ottaviae/implicitmeasures
	shallow = true
	registered = true
